.corpo{
    width: 100%;
    height: 400px;
    background-color: beige;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.timeLine{
width: 45%;
height: 300px;
background-color: red;
}
.grafico{
    width: 25%;
    height: 300px;
    background-color: yellow;
}