.corpo{
    width: 100%;
    height: 400px;
    background-color: cornflowerblue;
    align-items: center;
    justify-content: center;
    display: flex;
}
.corpo h1{
    width:30% ;
}

.Slide{
    width: 60%;
    height: 350px;
    background-color: brown;
}
