.rodape{
    width: 100%;
    height: auto;
    background-color:#14007E;
    padding: 70px 0;
}
.container{
    width: 80%;
    margin: auto;
}
.linha{
    display: flex;
    flex-wrap: wrap;
}
.colunas{
    width: 25%;
    padding-left: 0 15px;
}
.colunas h4{
    position: relative;
    font-size: 18px;
    color: #FFBA08;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
}
.colunas h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
    background-color: #228B22;
}
.colunas ul{
    display: flex;
    flex-direction: column;
}
.colunas ul li:not(:last-child){
    margin-bottom: 10px;
}
.colunas ul li a{
    display: flex;
    text-transform: capitalize;
    color: #eee;
    font-weight: 400;
    font-size: 16px;
}
.colunas ul li a:hover{
    transition: all 0.3s ease;
    color: #fff;
    font-weight: 600;
    padding-left: 5px;
}
.colunas .midias a img{
    height: 30px;
    width: 30px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 10%;
    color: #fff;
}
.colunas .midias a img:hover{
    transition: all 0.5s ease-in-out;
    filter: invert(1);
}
.colunas img{
    width: 200px;
    height: 150px;
}
@media(max-width:574px){
    .colunas{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width:767px){
    .colunas{
        width: 100%;
    }
}
