.candidato {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

:root {
    --corTimeLine-color: #0000
}

.topo {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

rect {
    fill: rgba(0, 255, 255, 0);
}

.fundoImagem {
    width: 30rem;
    height: 45rem;
    margin-bottom: 4rem;
}

.fundoImagem img {
    width: 100%;
    height: 100%;
}

.Info {
    width: 40%;
}

.span {
    color: red;
}

.Info h1 {
    font-size: 30px;
}

.Info h4 {
    font-size: 20px;
    text-align: start;
    padding-bottom: 3%;
}

.Info p {
    font-size: 18px;
    font-weight: 500;
}

.Info a {
    font-size: 16px;
}

.graficos {
    width: 25%;
}

/* ------------------------------------------ */
.slides {
    width: 50%;
    height: 100%;
    padding-bottom: 15%;
}


.partebaixo {
    width: 100%;
    height: 50rem;
    margin-bottom: 10rem;
}

/* ================================================= timeLine =================================================== */
.time {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.hline {
    margin-top: 6rem;
    position: absolute;
    width: 90%;
    height: 1rem;
    border-radius: 20px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.ano {
    position: absolute;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 14rem;
    height: 9rem;
}

.timeItem {
    width: 40rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5rem;
}

.timeText {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    bottom: 0;
    font-size: 2rem;
    text-align: center;
}

.timeText p {
    margin: 0 2rem;
}

.hlinebutton {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ED213A, #93291E);
    border: 10px solid rgb(8, 7, 7);
}

.hlinebutton:hover {
    background: linear-gradient(to bottom, #ffa9b3, #360702);

}

/* ================================================= timeLine =================================================== */


